<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns="http://www.w3.org/1999/html">

<head>
    <title>Кредит</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<header th:insert="blocks/headerPLusfooter :: header">
</header>
<div class="container m-5 p-4 d-flex justify-content-center">
    <div class="card w-75 alert-info">
        <h2 class="mx-2 mt-2">Сделать депозит (2 этап)</h2>
        <div class="card-body m-4">
            <form th:action="@{/deposit/add2}" th:method="POST" th:object="${deposit}">
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-row w-50 mt-2 mb-5 pt-4">
                            <select id="s1" th:field="*{type}" class="form-select" aria-label="Default select example">
                                <option value="-1" selected>Тип депозита</option>
                                <option value="srochniy">срочный</option>
                                <option value="bessrochniy">бессрочный</option>
                            </select>
                            <select id="s2" th:field="*{term}" class="form-select mx-4" aria-label="Default select example">
                                <option th:value="-1" selected>Время</option>
                                <option th:value="3">3 мес</option>
                                <option th:value="6">6 мес</option>
                                <option th:value="9">9 мес</option>
                                <option th:value="12">12 мес</option>
                            </select>
                            <select class="form-select mx-4" aria-label="Default select example">
                                <option value="-1" selected>Валюта</option>
                                <option value="usd">USD</option>
                                <option value="eur">EUR</option>
                                <option value="rub">RUB</option>
                            </select>
                        </div>
                        <label class="form-label mt-2"><b>Введите сумму депозита</b></label>
                        <div class="d-flex flex-row w-75 mt-2">
                            <input type="number" class="form-control" th:field="*{sum}" min="10" max="500000">
                            <label class="m-2 text-danger"> БЕЛ.РУБ</label>
                        </div>
                    </div>
                </div>
                    <button type="submit" class="btn btn-light mt-4 ">добавить</button>
            </form>
        </div>
    </div>
</div>
</div>
<div th:insert="blocks/headerPLusfooter :: footer">
</div>
<script>
    let firstSelect = document.getElementById("s1");
    let doubleSelect = document.getElementById("s2");
    doubleSelect.disabled = true;
    firstSelect.addEventListener("change", function (event) {
        if (event.target.value === 'srochniy') {
            doubleSelect.disabled = false;
        } else {
            doubleSelect.disabled = true;
        }
    }, false);
</script>
</body>

</html>