<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="blocks/headerPLusfooter :: header">
</header>
<main role = main class="container mt-5">
    <p class="mt-5"> В 2006 году Технобанк начал проводить выплаты по чекам Tax Free. На данный момент в банке можно получить выплаты по чекам Tax Free следующих систем: Global Blue, Tax Free Premier, Tax Free Worldwide, Tax Card, Litofolija, Innova Tax Free. При сотрудничестве с системой Global Blue банком выпущена на рынок платёжная карточка, с функцией экспресс оформления чеков Tax Free Global Card[5].
    Технобанк является гарантом электронных денег WMB, номинированных в белорусских рублях[6], и оказывает полный набор услуг предусмотренных системой расчётов WebMoney Transfer для частных лиц и бизнес-клиентов.
    Основные виды деятельности банка:</p>
    <ul>
  <li>Кредитование юридических и физических лиц</li>
  <li>Привлечение во вклады (депозиты) средств юридических и физических лиц</li>
  <li>Операции с ценными бумагами</li>
    <li>Расчётно-кассовое обслуживание клиентов</li>
    <li>Лизинговые операции</li>
    <li> Операции по выдаче гарантий и поручительств</li>
    </ul>
</div>
</main>
<th:block th:insert="blocks/headerPLusfooter :: footer">
</th:block>
</body>
</html>