<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:insert="blocks/headerPLusfooter :: header">
</header>
<main role=main class="container mt-5">
    <div class="mt-4 p-3 d-flex p-4">
        <div class="card p-4 w-100">
            <div class="row">
                <div class="col-sm">
                   <div class="alert-info">
                       <div class="p-3"><b>Ваши вклады</b></div>
                       <th:block th:each="el : ${deposits}">
                           <div class="alert alert-info">
                               <div>Сумма вклада: <span th:text="${el.sum}"></span></div>
                               <div>Тип вклада: <span th:text="${el.type}"></span></div>
                               <th:block th:if="${el.type=='bessroсhniy'||el.endDate.getTime()<date}">
                               <form th:action="'/deposit/'+${el.id}+'/take'" method="post">
                                   <button type="submit" class="btn btn-primary">Забрать вклад</button>
                               </form>
                               </th:block>
                           </div>
                       </th:block>
                    </div>
                </div>
                <div class="col-sm">
                   <h3> Вы получили</h3><span th:if="${newDeposit}" th:text="${newDeposit}"></span>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="blocks/headerPLusfooter :: footer">
</th:block>
</body>
</html>