<div class="col-sm-3">
    <label></label>
    <select class="form-control" name="type">
        <option value="null">введите вид кредита</option>
        <option value="1">обычный</option>
        <option value="2">овердрафт</option>
    </select>
</div>
<div class="col-sm-3">
    <label></label>
    <select class="form-control" name="term">
        <option value="null">введите срок</option>
        <option value="6">6</option>
        <option value="12">12</option>
        <option value="18">18</option>
        <option value="36">36</option>
    </select>
</div>